<%- include("partials/header"); -%>
<h1>Home</h1>
<p class="home-info"><%=homeContent%></p>

<% message.forEach(function(mess){ %>

<h1><%=mess.title%></h1>
<p>
<%=mess.body.substring(0, 100) + " ... "%>
<a href="/posts/<%=mess.title%>">Read More</a>

</p>

<%}); %>

<%- include("partials/body"); -%>

<%- include("partials/footer"); -%>
